# Timezone
TZ=Asia/Jakarta
GENERIC_TIMEZONE=Asia/Jakarta

# n8n Core
N8N_SECURE_COOKIE=false
N8N_RUNNERS_ENABLED=true
N8N_RUNNERS_MAX_OLD_SPACE_SIZE=4096
N8N_BLOCK_ENV_ACCESS_IN_NODE=false
N8N_COMMUNITY_PACKAGES_ENABLED=true

# Node.js module access
NODE_FUNCTION_ALLOW_EXTERNAL=*
NODE_FUNCTION_ALLOW_BUILTIN=*

# n8n network domain
N8N_HOST=n8n.example.com
N8N_PROTOCOL=https
WEBHOOK_URL=https://n8n.example.com/

# Cloudflare Tunnel
CLOUDFLARED_TUNNEL_TOKEN=your_cloudflare_tunnel_token

# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token

# Ollama / local AI
OLLAMA_BASE_URL=http://host.docker.internal:11434

# MariaDB Remote
MARIADB_HOST=your_mariadb_host_or_ip
MARIADB_PORT=3306
MARIADB_USER=root
MARIADB_PASSWORD=your_mariadb_password

# SSH Remote Server
SSH_HOST=your_ssh_host_or_ip
SSH_USER=root
SSH_PORT=22
SSH_REMOTE_DIR=/opt/pm_data
