# Timezone
TZ=Asia/Jakarta
GENERIC_TIMEZONE=Asia/Jakarta

# n8n Core
N8N_SECURE_COOKIE=false
N8N_RUNNERS_ENABLED=true
N8N_RUNNERS_MAX_OLD_SPACE_SIZE=4096
N8N_BLOCK_ENV_ACCESS_IN_NODE=false
N8N_COMMUNITY_PACKAGES_ENABLED=true

# Node.js Module Access
NODE_FUNCTION_ALLOW_EXTERNAL=*
NODE_FUNCTION_ALLOW_BUILTIN=*

# n8n Network Domain
N8N_HOST=n8n.example.com
N8N_PROTOCOL=https
WEBHOOK_URL=https://n8n.example.com/

# Cloudflare Tunnel
CLOUDFLARED_TUNNEL_TOKEN=isi_token_cloudflare_tunnel_kamu

# Telegram
TELEGRAM_BOT_TOKEN=isi_token_bot_telegram_kamu

# Ollama / AI lokal
OLLAMA_BASE_URL=http://host.docker.internal:11434

# MariaDB Remote
MARIADB_HOST=isi_ip_mariadb_kamu
MARIADB_PORT=3306
MARIADB_USER=root
MARIADB_PASSWORD=isi_password_mariadb_kamu

# SSH Remote Server
SSH_HOST=isi_ip_server_ssh_kamu
SSH_USER=root
SSH_PORT=22
SSH_REMOTE_DIR=/opt/pm_data
